<launch>
<!-- point cloud to laser scan node for pepper robot and orbslam3_ros_wrapper-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <!-- El remap que se suscribe a all_points debería crear el mapa de una, con todos los puntos del mapa, por este motivos, conviene tirar esto + gmapping al terminar de mapear -->
        <remap from = "cloud_in" to = "/orb_slam3/all_points"/> 
        <!-- Si lo anterior no funciona, toca mapear con los puntos de manera normal -->
        <!-- <remap from = "cloud_in" to = "/orb_slam3/tracked_points"/>  -->
        <remap from = "scan" to = "/orb_slam3/laser_scan"/>

        <rosparam>
        target_frame: base_footprint
        transform_tolerance: 0.01
        min_height: 0.0
        max_height: 3.0

        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.45
        range_max: 4.0
        use_inf: true

        concurrency_level: 1
        </rosparam>
    </node>
</launch>